* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #E1E1E6;
  --status-player-color: rgba(217, 217, 217, 0.8);
  --bg-player-color: rgba(217, 217, 217, 0.3);
  --bg-body-color: #0F0D13;
  --bg-main-color: #2A2141;
  --bg-button-color: rgba(217, 217, 217, 0.3);
  --flex-direction: column;
  --w-img: 198px;
  --h-img: 190px;
  --padding-main: 50px 38px;
  --display-timer: flex;
}

.landscape {
  --flex-direction: row;
  --w-img: 84px;
  --h-img: 84px;
  --padding-main: 29px;
  --display-timer: flex;
}

.small {
  --flex-direction: row;
  --w-img: 84px;
  --h-img: 84px;
  --padding-main: 29px;
  --display-timer: none;
}

body * {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
}

body {
  height: 100vh;
  background: var(--bg-body-color);

  display: flex;
  align-items: center;
  justify-content: center;
}

/* #container {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

#main {
  max-height: 585px;
  max-width: 270px;
  padding: var(--padding-main);
  margin: 10px;
  background: var(--bg-main-color);
  border-radius: 9px;

  display: flex;
  flex-direction: column;
  gap: 29px;
  justify-content: center;
}

#main #music {
  display: flex;
  flex-direction: var(--flex-direction);
  gap: 29px;
}

#music img {
  border-radius: 6px;
  width: var(--w-img);
  height: var(--h-img);
  order: 1;
  margin: auto;
  object-fit: cover;
}

#music #heading {
  display: flex;
  flex-direction: column;
  gap: 9.6px;
  order: 2;
}

#heading h1 {
  font-size: 24px;
  font-weight: 700;
}

#heading p {
  font-size: 19px;
  font-weight: 400;
  opacity: 0.67;
}

#player {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  order: 3;

}

#player button {
  height: 29px;
  width: 29px;
  background: none;
  border-style: none;
  border-radius: 10px;

}

#main #player button:hover {
  background: var(--bg-button-color);
  transition: background 0.2s;
}

#timer {
  display: var(--display-timer);
  flex-direction: column;
  gap: 9.6px;
  order: 4;

  position: relative;
}

#timer #total {
  height: 6px;
  width: 100%;
  background-color: var(--bg-player-color);

  position: absolute;
  z-index: 0;
}

#timer #atual {
  background-color: var(--status-player-color);
  height: 6px;
  width: 80%;
  z-index: 1;
}

#timer #tempo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#resolution {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 25px;

  order: 5;
}

#resolution button {
  background: none;
  border-style: none;
  border-radius: 10px;
  height: 50px;
  width: 70px;
}

#resolution button:hover {
  background: var(--bg-button-color);
  transition: background 0.2s;

}

#resolution button ion-icon {
  display: flex;
  align-items: center;
  font-size: 24px;
  margin: auto;
}


@media (max-width: 320px) {}

@keyframes slow {
  from {}

  to {}
}