* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body * {
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
  color: antiquewhite;
}

body {
  height: 100vh;
}

#container {
  height: 100vh;
  max-width: 588px;
  background: black;
  display: grid;
}